.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.heading {
    width: 940px;
    column-gap: 600px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 70px;
    font-size: 20px;

}
.intro {
    height: 500px;
    width: 1338px;
    border: 2px white solid;
    background-image: url('https://pixfort.website/themeforest/landing/flatpack/6_university/images/6_university/Bg.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;

}
.icon:hover {
    font-size: 30px;
    color: #000;
}
.c1{
    color: rgba(128, 128, 128, 0.697);
    display: flex;
    align-items: center;
}
.c11{
    display: flex;
    flex-direction: row;
    padding-right:0px;
    gap:10px ;
}
.head1{
    color: #fff;
    font-weight: 600;
    font-size: 39px;
    line-height: 38px;
    text-align: center;
}
.head2{
    color: grey;
    text-transform:uppercase;
    text-align: center;
}
h1{
    margin-bottom: 16px;
    text-transform:uppercase;
    text-align: center;
}
.links{
    text-align: center;
    padding-top: 30px;
}
.col_btn a{
    background: #7cc576;
    font-size: 16px;
    color: #fff;
    font-family: 'open sans', sans-serif;
    width: 160px;
    height: 35px;
    border-radius: 3px;
    text-decoration: none;
    position: relative;
    display: inline-block;
    padding-top: 15px;
    margin-right: 5px;

}
.col_btn a:hover, a.col_btn:active{
    font-size: 110%;
    box-shadow: 2px 5px 2px 5px black;
}

.join_btn a{
background: #ff7243;
    font-size: 16px;
    color: #fff;
    font-family: 'open sans', sans-serif;
    width: 160px;
    height: 35px;
    display: inline-block;
    border-radius: 3px;
    text-decoration: none;
    position: relative;
    display: inline-block;
    padding-top: 15px;
}
.join_btn a:hover, a.join_btn:active{
    font-size: 110%;
    box-shadow: 2px 5px 2px 5px black;
}
.p{
    text-align: center;
    color: #f0fff0;
    font-size: 13px;
    padding-bottom: 30px;
    padding-top: 50px;

}
.img1{
   padding-top: 30px;
   display: flex;
   flex-direction: column;
   align-items: center;
   padding-left: 30 px;

   
}
.s a:hover, a.s:active{
    box-shadow: 1px 2px 1px 2px black;
}
